<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta de Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Aquí se mostrarán los productos -->
    <ion-item *ngFor="let producto of productos">
      {{ producto.descripcion }} - Cantidad: {{ producto.cantidad }} - Valor Unitario: {{ producto.valorUnitario }}
      <ion-buttons slot="end">
        <ion-button (click)="editarProducto(producto)">Editar</ion-button>
        <ion-button (click)="eliminarProducto(producto)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
